<div class="ddl">
  <div class="form-group">
    <div class="dropdown" #dropDownList [class.show]="dropdownOpen"   >
      <p *ngIf="hasError"  class="text-danger">{{errorMsg}}</p>
      <div
        class="btn btn-outline-secondary dropdown-toggle"
        type="button"
        (click)="toggleDropdown($event)"
        aria-expanded="dropdownOpen"
      >
        {{ displaySelectedVals() }}
    </div>
      <div class="dropdown-menu"  [class.show]="dropdownOpen" [ngStyle]="{'max-height':limit >4 ? '250px' :'150px'}"  (scroll)="onScroll($event)">
        <div class="input-group my-3">
          <input
            *ngIf="ddlconfigOptions.isSearchable"
            type="text"
            class="form-control"
            placeholder="Search"
            [(ngModel)]="searchQuery"
            (input)="searchValues()"
          />
          <span
            *ngIf="ddlconfigOptions.isResettable"
            class="input-group-text text-success resetBtn"
            (click)="reset()"
            ><i class="bi bi-arrow-clockwise"></i
          ></span>
          <button
          *ngIf="ddlconfigOptions.isMultiValued"
          class="btn btn-success"
          (click)="selectAll()"
        >
          select all
        </button>
        </div>
      
    
        <div class="form-check my-2" *ngFor="let option of originalOptions; let i = index"   >
          <input
            class="form-check-input"
            [type]="ddlconfigOptions.isMultiValued ? 'checkbox' : 'checkbox'"
            [checked]="isSelected(option)"
            (change)="selectValues(option)"
            [id]="(option[uniqueKey] ? option[uniqueKey] : option)+i"
            [name]="ddlconfigOptions.isMultiValued ? 'multiple' : 'single'"
          />
          <label
            class="form-check-label"
            [for]="option[uniqueKey] ? option[uniqueKey] : option"
            >{{ option[showKey] ? option[showKey] : option }}</label
          >
        </div>
        <p class="text-success text-center" *ngIf="loading">Loading ...</p>
        
      </div>
    </div>
  </div>
</div>
